@import 'http://yui.yahooapis.com/pure/0.6.0/pure-min.css';
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css';
body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(255, 85, 152,1);
}

.container{
    min-height: 100vh;
    overflow: hidden;
}
.main{
  position: relative;
  box-sizing: border-box;

}

.fas{
    position: absolute;
    font-size: 2em;
    top:0;
    left:0;
    z-index: 2000;
    margin:0.5em;
}

.names{
      
    position: absolute;
    width: 8em;
    top:0;
    left:-8em;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    /*border: thin rgba(255, 85, 152,0.5) solid;*/
    z-index: 100;
    transition:all ease 1s;
    box-sizing: border-box;
    padding-top: 4em;
}

.names.show{
    left:0;
}


.name{
    border-radius: 1em;
    border:thin black solid;
    width: 6em;
    height: 2em;
    margin-bottom: 1em;
}

span{

    width: 6em;
    height: 2em;
    display: block;
    border-radius: 1em;
    text-align: center;
    line-height: 2em;
    background-color: rgba(255, 85, 152,0.7);
}

.names span{
    margin-bottom: 1em;
}

.duckies{
    display: flex;
    flex-wrap:wrap;
    align-content:flex-start;

}

.duckie{
    flex: 1 0 15em;
    position: relative;
}

.duckie .card{
    padding-top: 100%;
    position: relative; 
    perspective: 50em;

}


.duckie .card .front,.duckie .card .back{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-position:center;
    background-size: cover;
    transition: all ease 1s;
}

.duckie .card .front{
    background-image:url(duckies/download.jpg);
    z-index: 2;
    transform: rotateY(0deg);
}

.duckie .card:hover .front{

    backface-visibility: hidden;
    transform: rotateY(180deg);
   
}
.duckie .card .back{
    background-image:url(duckies/download-1.jpg);
    transform: rotateY(180deg);
}

.duckie .card:hover .back{

    transform: rotateY(360deg);
}

.duckie .name{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}




